{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>Document</title>
</head>
<body>
    <div class="container-grid">
        
        <header>
            <div class="links-left">
                <ul>
                    <li>
                        <a href="/">CreatorPass</a>
                    </li>
  
                </ul>
            </div>
        </header>
        
        <main>
            <div>
                {% block main %} {% endblock %}
            </div>
        </main>
    </div>
</body>
</html>