{% extends "app/base.html" %}
{% block main %}
<div>
    <p>Secure Password Generator</p>
    <br>
    
</div>

    <div id="id_pass"><div id='pass'>{{ complete_password }}</div></div>
    <div>
        <form id="gen-form" action="" method="POST">{% csrf_token %}
            
            <input id="id_exclude" type="checkbox" name="exclude">

            <select id="seltag" name="param" onchange="sessionStorage.seltag=this.selectedIndex">
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </select>
            <br>
            <input id="generate" type="submit" value="Generate">
        </form>
    </div>
    <br>
    <div id="block">
        <p>Password length:</p>
        <p>Exclude Ambiguous Characters:<span id="characters">({}[]()/\'"`~,;:.<>)</span></p>
    </div>

    <script src="/static/app/js/main.js"></script>

{% endblock main %}