* {
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: None;
    outline: None;
}

button * {
    cursor: pointer;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header',
    'main';
    grid-gap: 20px;
}

header {
    grid-area: 'header';
    width: 100%;
    height: 70px;
    background: #4A76A8;
    display: grid;
}

header .links-left  {
    align-self: center;
}

header .links-left ul li {
    display: inline;
}

#generate {
    border: 1px;
    width: 150px;
    height: 40px;
    color: #ffffff;
    background: #4A76A8;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

#generate:active {background: #224B7A}

.links-left a {
    margin-left: 10px;
    color: #ffffff;
}

main div {
    grid-area: 'main';
    display: grid;
    justify-self: center;
}

#id_exclude {
    position: relative;
    top: 99px;
    left: 55px;
}

#characters {
    position: relative;
    left: 20px;
}

#id_pass {
    width: 400px;
    height: 40px;
    border: 1px solid #A7ADB7;
    text-align: center;
    border-radius: 25px;
}

div #pass {
    position: relative;
    margin-top: 10px;
}

#seltag {
    position: relative;
    top: 77px;
    right: 60px;
}

#block {
    width: 500px;
    color: #285473;
    background: #EDEEF0;
}

footer {
    grid-area: 'footer';
}
